<form #categForm="ngForm">
  <h2>CHOOSE CATEGORY : </h2><br><br>
<div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit" [routerLink]="['/quiz']"style="width: 20%;">Quiz</button><br><br>
      <button class="btn-large btn-submit" type="submit" [routerLink]="['/quiz1']"style="width: 20%;">Quiz 1</button><br><br>
      <button class="btn-large btn-submit" type="submit" [routerLink]="['/quiz2']"style="width: 20%;">Quiz 2</button><br><br>
    </div>
  </div>
</form>
